## Execises: Module 5 - Lists, Tuples, Sets

### Execises: Lists - Level 1

In [ ]:
# 1. Declare an empty list

empty_list = []
print(empty_list)

In [ ]:
# 2. Declare a list with multiple values

multiple_values = [1, 2, 3, 4, 5]
print(multiple_values)

In [ ]:
# 3. find the length of your list

multiple_values = [1, 2, 3, 4, 5]
print(len(multiple_values))

In [ ]:
# 4. Get the first item, the middle item and the last item of the list

multiple_values = [1, 2, 3, 4, 5]
first_item = multiple_values[0]
middle_item = multiple_values[len(multiple_values) // 2]
last_item = multiple_values[-1]
print(first_item, middle_item, last_item)

In [ ]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Assanatou', 30, 1.85, 'married', 'Banjul']
print(mixed_data_types)

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 7. Print the list using print()
print(it_companies)

In [ ]:
# 8. Print the number of companies in the list

print(len(it_companies))

In [ ]:

# 9. Print the first, middle and last company

print(it_companies[0], it_companies[len(it_companies) // 2], it_companies[-1])

In [ ]:
# 10. Print the list after modifying it 

it_companies[0] = 'Meta'
print(it_companies)

In [ ]:
# 11. Add an IT company to it_companies

it_companies.append('Tesla')
print(it_companies)

In [ ]:

# 12. Insert an IT company in the middle of the companies list

it_companies.insert(len(it_companies) // 2, 'Cisco')
print(it_companies)

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies[4] = it_companies[4].upper()
print(it_companies)

In [ ]:
# 14. Join the it_companies with a string '#;  '
it_companies = '; '.join(it_companies)
print(it_companies)

In [ ]:
# 15. Check if a certain company exists in the it_companies list.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print('Google' in it_companies)

In [ ]:
# 16. Sort the list using sort() method

it_companies.sort()
print(it_companies)

In [ ]:
# 17. Reverse the list in descending order using reverse() method

it_companies.reverse()
print(it_companies)

In [ ]:
# 18. Slice out the first 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[0:3]
print(it_companies)

In [ ]:
# 19. Slice out the last 3 companies from the list  

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[-3:]
print(it_companies)

In [ ]:
# 20. Slice out the middle IT company or companies from the list    

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[1:-1]
print(it_companies)

In [ ]:
# 21. Remove the first IT company from the list

it_companies.pop(0)
print(it_companies)

In [ ]:
# 22. Remove the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove(it_companies[1])
print(it_companies)

In [ ]:
# 23. Remove the last IT company from the list  

it_companies.pop(-1)
print(it_companies)

In [ ]:
# 24. Remove all IT companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

In [ ]:
# 25. Destroy the IT companies list

del it_companies
print(it_companies)

In [ ]:
# 26. Join the following lists front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] , back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

In [ ]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux   

full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node','Express', 'MongoDB' ]
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Redux') + 2, 'SQL')
print(full_stack)

### Execises: Lists - Level 2

In [ ]:
# i. The following is a list of 10 students ages:
        # ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))

In [ ]:
# ii. Add the min and max age again to the end of the original list

#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.append(min(ages))
ages.append(max(ages))
print(ages)

In [ ]:
# iii. Find the median age (one middle item or two middle items divided by two)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print((ages[len(ages) // 2 - 1] + ages[len(ages) // 2]) / 2)

In [ ]:
# iv. Find the average age (sum of all items divided by their number )

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(sum(ages) / len(ages))

In [ ]:
# v. Find the range of the ages (max minus min)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(max(ages) - min(ages))

In [ ]:
# vi. Compare the value of (min - average) and (max - average), use abs() method

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(abs(min(ages) - sum(ages) / len(ages)))
print(abs(max(ages) - sum(ages) / len(ages)))

In [ ]:
# 1. Find the middle country(ies) in the countries list and print it
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

print(countries)

if len(countries) % 2 == 0:  # Even number of countries
    middle_countries = countries[len(countries)//2 - 1:len(countries)//2 + 1]
else:  # Odd number of countries
    middle_countries = [countries[len(countries)//2]]

print(f"The middle country/countries is/are: {middle_countries}")

In [ ]:
# 2. Divide the countries list into two equal lists if it has an even number of countries; if not, one more country for the first half.

countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

if len(countries) % 2 == 0:
  print(countries[:len(countries) // 2])
  print(countries[len(countries) // 2:])
else:
  print(countries[:len(countries) // 2 + 1])
  print(countries[len(countries) // 2 + 1:])

In [ ]:
# 3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

ch, ru, usa, *scandic = countries

print(ch)
print(ru)
print(usa)  
print(scandic)

### Exercises: Tuples - Level 1

In [ ]:
# 1. Create an empty tuple

my_tuple = ()
print(my_tuple)

In [5]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sisters = ('Husainah', 'Isha', 'Mariah') 
brothers = ('Alhagie', 'Abdullah')

In [ ]:
# 3. Join brothers and sisters tuples and assign it to siblings

siblings = brothers + sisters
print(siblings)

In [ ]:
# 4. How many siblings do you have?

print(len(siblings))

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

parents = ('Sulayman', 'Jariah')
family_members = parents + siblings
print(family_members)

### Exercises: Tuples - Level 2

In [ ]:
# 1. Unpack siblings and parents from family_members tuple

family_members = ('Sulayman', 'Jariah', 'Alhagie', 'Abdullah', 'Husainah', 'Isha', 'Mariah')

parents = family_members[:2]  
siblings = family_members[2:]

print(f"Parents: {parents}")
print(f"Siblings: {siblings}")

In [ ]:
# 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp

fruits = ('apple', 'banana', 'grapes', 'oranges')
vegetables = ('tomato', 'carrot', 'potato','pepper', 'cabbage')
animal_products = ('meat', 'egg', 'milk')

food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

In [ ]:
# 3. Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

In [ ]:
# 4 Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

if len(food_stuff_tp) % 2 == 0:
  print(food_stuff_tp[len(food_stuff_tp) // 2-1: len(food_stuff_tp)//2+1])
else:
  print(food_stuff_tp[len(food_stuff_tp) // 2],)

In [ ]:
# 5. Slice out the first three items and the last three items from food_staff_lt list
print('first three items:', food_stuff_lt[0:3], '\nlast three items:', food_stuff_lt[-3:])

In [ ]:
# 6. Delete the food_staff_tp tuple completely

del food_stuff_tp

In [ ]:
# 7. Check if an item exists in tuple:
        # Check if 'Estonia' is a nordic country
        #Check if 'Iceland' is a nordic country
    
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Is Estonia in nordic_country?', 'Estonia' in nordic_countries)
print('Is Iceland in nordic_country?', 'Iceland' in nordic_countries)

### Exercises: Sets - Level 1

In [ ]:
# 1. Find the lenght of the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

print(len(it_companies))

In [57]:
# 2. Add 'Twitter' to it_companies

it_companies.add('Twitter')
print(it_companies)

{'Amazon', 'Twitter', 'IBM', 'Google', 'Facebook', 'Oracle', 'Microsoft', 'Apple'}

In [58]:
# 3. Insert multiple IT companies at once to the set it_companies

it_companies.update(['Tesla', 'Cisco'])
print(it_companies)

{'Facebook', 'Apple', 'Amazon', 'Oracle', 'Twitter', 'IBM', 'Google', 'Cisco', 'Tesla', 'Microsoft'}

In [ ]:
# 4. Remove one of the companies from the set it_companies

it_companies.remove('Twitter')
print(it_companies)

5. What is the difference between remove and discard
   
   The difference between remove() and discad() is that remove() raises an error if you try to delete an item that is not present in the set,whereas discrad() does not raise an error and simply does nothing

### Exercises: Sets - Level 2

In [ ]:
# 1. Join A and B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print(C)

In [ ]:
# 2. Find A intersection B
D = A.intersection(B)
print(D)

In [ ]:
# 3. Is A subset of B
A.issubset(B)

In [ ]:
# 4. Are A and B disjoint sets
A.isdisjoint(B)

In [ ]:
# 5. Join A with B and B with A

print(A.union(B))
print(B.union(A))

In [ ]:
# 6. What is the symmetric difference between A and B

A.symmetric_difference(B)

In [69]:
# 7. Delete the sets completely

del A
del B

### Exercises: Sets - Level 3

In [ ]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

age = [22, 19, 24, 25, 26, 24, 25, 24]

Age_set = set(age)

print(len(age))
print(len(Age_set))

if len(age) > len(Age_set):
  print('The list is bigger')
else:
  print('The set is bigger')

2. Explain the difference between the following data types: string, list, tuple and set


   **String**: A sequence of characters enclosed in single, double quotes. Immutable and can contain letters, numbers, and symbols. Supports indexing and slicing. Example: 'Hello'.

   **List**: An ordered, mutable collection that can hold different data types and allows duplicates. Supports indexing, slicing, and methods like append() and remove(). Example: [1, 2, 'apple'].

   **Tuple**: An ordered, immutable collection that can hold different data types and allows duplicates. Supports indexing and slicing but lacks methods for modification. Example: (1, 2, 'apple').

   **Set**: An unordered, mutable collection with unique elements, meaning no duplicates are allowed. Does not maintain order and supports set operations like union and intersection. Example: {1, 2, 3}.

In [ ]:
# 3. I am a teacher and I love to inspire and teach people. 
    # How many unique words have been used in the sentence? 
    # Use the split methods and set to get the unique words

sentence = 'I am a teacher and I love to inspire and teach people'
print(sentence.split())

unique = set(sentence.split())

print('unique words are:', len(unique))